<connectionStrings>
  <clear />
  <add name="SQL2005"
      connectionString="Data Source=SRV001\SQL2005;Persist Security Info=True;User ID=novasol;Password=novasol;Application Name=Signus-Scheduler"
      providerName="System.Data.SqlClient" />
  <add name="SQL2008R2"
      connectionString="Data Source=SRV003\SQL2008R2;Persist Security Info=True;User ID=novasol;Password=novasol;Application Name=Signus-Scheduler"
      providerName="System.Data.SqlClient" />
  <add name="SQL2012"
      connectionString="Data Source=SRV003\SQL2012;Persist Security Info=True;User ID=novasol;Password=novasol;Application Name=Signus-Scheduler"
      providerName="System.Data.SqlClient" />
  <add name="SQL2014"
      connectionString="Data Source=SRV003\SQL2014;Persist Security Info=True;User ID=novasol;Password=novasol;Application Name=Signus-Scheduler"
      providerName="System.Data.SqlClient" />
</connectionStrings>